@charset "utf-8";

*,
::before,
::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li{
  list-style: none;
}

a{
  color: inherit;
  text-decoration: none;
}

body{
  font-family: "游明朝体", "YuMincho",
	"Hiragino Mincho ProN",
  serif;
  font-size: 16px;
  color: white;
  line-height: 1;
  background-color:  #262520;
  }

  img{
    max-width: 100%;
  }
.header{
  background-color: black
}

  .header-inner{
    max-width: 1200px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-menu-button{
  display: none;
}

.logo{
  display: block;
  width: 110px;
}

.site-menu ul{
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.site-menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  transition: color 0.3s ease;
}

.site-menu ul li a:hover{
  color: #27b800
}

.sns,
.header-sns{
  display: flex;
  gap: 15px;
}

.sns a img,
.header-sns a img{
  height: 25px;
}

.footer{
  color: white;
  background-color: black;
  padding-top: 20px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

@media (max-width: 800px){

  .wrap_original {
    overflow: hidden;
    }

  .site-menu ul{
    display: block;
    text-align: center;
  }
  .site-menu li{
    margin-top: 20px;
  }

  .header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color:black;
    height: 50px;
    z-index: 10;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  }

  .header-inner{
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    position: relative;
  }

  .logo{
    width: 50px;
  }

  .header-sns{
   display: none;
  }

  .site-menu ul li a {
    color:black;
  }

  .header-site-menu{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color:white;
    opacity: 0.95;
    padding-top: 30px;
    padding-bottom: 50px;
    display: none;

  }

  .toggle-menu-button{
    display: block;
    width: 44px;
    height: 34px;
    background-image: url(../cafe/image/menu.svg);
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    border-radius: 0;
    outline: none;
  }

  .header-site-menu.is-show{
    display: block;
  }

  .main{
    padding-top: 50px;
  }

 .sns{
   width: 60px;
   height: auto;
 }

 .footer logo{
  width: 70px;
  height: auto;
 }
 .copyright{
   margin-top: 20px;
   font-size: 10px;
 }




  
}

.kv{
  background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.7)), url(image/top/kv.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  }

  .catch{
    font-family: "Castoro Titling", serif;
    position: absolute;
    top: 60%;
    left: 50%;
    width: auto;
    transform: translate(-50%);
    font-size: 1.5rem;
  }

.news{
    width: 100%;
    padding: 100px 0;
    text-align: center
  }

  .date{
    text-decoration: underline;
  }
 
  .news>h2{
    margin-top: 25px;
    font-size: 40px;
  }

  .event{
    display: flex;
    flex-direction: row-reverse;
    width: 930px;
    max-width: 90%;
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
  }

  .news-image{
    width: 450px;
  }

  .news-description{
    max-width: 500px;
    margin-left: 40px;
    font-size: 25px;
    line-height: 28px;
    text-align: left;
  }

  #intro-content{
    height: 200px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.7)),  url(../cafe/image/top/COFFEE0I9A8924_TP_V.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
  }

  .feature{
    display: flex;
    justify-content: space-between;
    width: 930px;
    max-width: 90%;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
  }

  .feature img{
    width: 450px;
    box-shadow: 20px -20px 0 #273e1a;
   }


   .reverse img{
     box-shadow: -20px 20px 0 #273e1a;
}

  .feature-text{
    max-width: 4000px;
    margin-right: 40px;
  }

  .reverse .feature-text{
    margin-left: 40px;
    margin-right: 0;
  }

  .reverse{
    flex-direction: row-reverse;
    
  }

  .feature-text h3{
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
  }

  .feature-text p{
    font-size: 18px;
    line-height: 28px;
    margin-top: 25px;
  }

  #access-content{
    height: 200px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.7)),  url(..//cafe/image/top/PENTAFANPK98003_TP_V.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-top: 100px;
  }

  .business-hours{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }

  .business-hours span{
    display: block;
    text-align: center; 
  }

  .cafe-access p:last-child{
    font-size: 30px;
  }

  .cafe-access p:nth-child(3){
    letter-spacing: -2.5px;
  
  }
  
  .cafe-access{
    margin-bottom: 65px;
  }

  .cafe-access h3{
    font-size: 40px;
    letter-spacing: 3px;
  }

.cafe-access img{
  box-shadow: none;
}

@media (max-width: 800px){
  
  .news>h2{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    }
    
    .event{
    display: block;
    width: 500px;
    margin-top: 45px; 
  }
  .news-image{
    width: 100%;
    height: auto;
    margin-top: 45px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .date{
    font-size: 12px;
  }

  .news-description{
    margin-left: 0;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
  }
 
  .intro-content{
    height: 80px;
    width: 100%;
    font-size: 15px;
  }
  .feature{
    display:block;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 45px;
  }

  .feature-text{
    margin-right: 0;
  }

  .reverse .feature-text{
    margin-left: 0;
  }

  .feature img{
    width: 100%;
    height: auto;
    box-shadow: none;
    margin-top: 25px;
  }

  .feature-text h3{
    font-size: 20px;
  }

  .feature-text p{
    font-size: 15px;
  }

  .access-content{
    height: 80px;
    width: 100%;
    font-size: 15px;

  }
  
  .business-hours{
    margin: 0;

  }
  .business-hours span{
    text-align: left
  }
  .cafe-access p:last-child{
    font-size: 20px;
  }
}

/* メニューページ */

.drink-menu{ 
  height: 700px;
  width: auto;
  background-image: url(..//cafe/image/menu/drink.jpg);
  background-repeat: no-repeat;
  background-position:left;
  background-size: cover;
  color: white;
  font-size: 25px;
 
  }
.menu h1{
  margin-bottom: 40px;
}
 dl.menu{
  width:40%;
  margin:0 0 0 auto;
  position: relative;
  top: 100px;
  right: 50px;
  font-size: 20px;
 	}
dl.menu div{
  
	position: relative;
  display: flex;
	justify-content: space-between;
	margin: 5px 0;
  padding: 5px 0;
  
	}
dl.menu div::after{
	content: "";
	display: block;
	position: absolute;
	top: 90%;
	z-index: 1;
	width: 100%;
  border-bottom: dashed 1px white;
	}

dl.menu dt{
	margin:0;
	padding: 0 5px 0 0;
	z-index: 2;
	text-align: right;
	}
dl.menu dd{
	margin:0;
	padding: 0 0 0 5px;
	z-index: 2;
	text-align: right;
	}
 
  .food-menu{ 
    height: 700px;
    width: auto;
    background-image: url(..//cafe/image/menu/HAWKSHAW19206006_TP_V.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    font-size: 25px;
  }

  .food-menu>dl.menu{
    width:40%;
    margin:0 auto 0 0;
    position: relative;
    top: 100px;
    left: 50px;
    font-size: 20px;
     }
   
     @media (max-width: 800px){
      .drink-menu{
        height: calc(100vh-50px);
        background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.7)),url(..//cafe/image/menu/drink-sp.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        }

        dl.menu{
          width:80%;
          margin:0 0 0 0;
          position: relative;
          top: 120px;
          right: 0px;
          left: 60px;
          font-size: 20px;
           }

        .food-menu{
          height: calc(100vh-50px);
          background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.7)),url(..//cafe/image/menu/food-sp.jpg);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          }
        
          .food-menu dl.menu{
            width:80%;
            margin:0 0 0 0;
            position: relative;
            top: 120px;
            right: 0px;
            left: 60px;
            font-size: 20px;
             }

      }
      /* ギャラリーページ */
      .grid-blk {
        display: grid;
        width: 100%;
        height: 1500px;
        grid-template-columns: 30% 40% 30%;
        grid-template-rows: 30% 35% 35%;
        grid-template-areas: "a a b " "c d d" "c e e";
      }
      
      .grid-blk div {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
      }
      .grid-blk .grid-a {
        grid-area: a;
        background-image: url(image/gallery/1.jpg);
      }
      .grid-blk .grid-b {
        grid-area: b;
        background-image: url(image/gallery/2.jpg);
      }
      .grid-blk .grid-c {
        grid-area: c;
        background-image: url(image/gallery/3.jpg);
      }
      .grid-blk .grid-d {
        grid-area: d;
        background-image: url(image/gallery/4.jpg);
      }
      .grid-blk .grid-e {
        grid-area: e;
        background-image: url(image/gallery/5.jpg);
      }
      
      @media (max-width: 800px){
        .inner {
          padding: 0;
        }
      
        .grid-blk {
          grid-template-areas:
      "a a a"
      "e e e"
      "c c c"
      ;
          }

      }

      /* お問い合わせページ */
      .contact{
        height: 700px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.7)),url(..//cafe/image/contact/kissaten-_92A4844-8895_TP_V.jpg);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          
      }
      .contact-inner h1{
       text-align: center;
       padding: 70px 0;
      }

      .form-area{
        margin-top: 25px;
        margin: 0 auto;
        padding: 30px;
        display: flex;
        flex-wrap: wrap;
        border: dashed;
        width:550px;
        
      }

      .form-area dt{
        width: 300px;
        font-size: 20px;
        font-weight: bold;
        line-height: 70px;
      }

      .form-area dd{
        width: calc(100% - 300px);
        padding: 20px 0;
        }

      .link-button-area{
        text-align: center;
        margin-top: 30px;

      }  
      .submit-button{
        display: inline-block;
        min-width: 180px;
      }

      @media (max-width: 800px){

        .contact{
          height: 600px;
        }
          .contact-inner h1{
          font-size: 20px;
          padding: 80px 0px 40px 0;
          }

          .form-area{
            padding: 0 auto;
            border: dashed;
            display:block;
            width:250px;
            height: 350px;
           }

          .form-area dt{
            font-size: 15px;
            line-height: 35px;
          }
          
          .form-area dd{
          padding: 0;
            }

            .submit-button{
              width: 50%;
              margin-top: 30px;
             }
    
           
      }



      
      
      

    

  
